#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul, #navbar li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* Home-Info */

#info-section {
  height: 500px;
}

#info-section .info-image {
  display: none;
}

#info-section .info-content {
  float: none;
  width: 100%; 
}


/* Feature/Contact Boxes */

.box {
  float: none;
  width: 100%;
}

/* About Info */

#about-info .info-right,
#about-info .info-left {
  float: none;
  width: 100%;
}