/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes - Classes that are used throughout the site  */

.container {
  margin: auto;
  max-width: 1440px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #fff;
  color: #333;
}

.btn-light:hover {
  background: #f7c08a;
}

.bg-primary {
  background: #f7c08a;
}

/* NavBar Styling */

#navbar {
  background: #333;
  color: #fff;
  overflow: hidden;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

/* Showcase Styling */

#showcase {
  background: url('/css/img/showcase.jpg') no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  text-align: center;
  padding-top: 170px;
  color: #fff;
}


#showcase .showcase-content h2 {
  font-size: 60px;
}

#showcase .showcase-content p {
  font-size: 20px;
  line-height: 1.7em;
  padding-bottom: 10px;
}

/* Info Section Styling */

#info-section {
  height: 400px;
}

#info-section .info-image {
  float: left;
  width: 50%;
  background: url('/css/img/photo-1.jpg') no-repeat;
  min-height: 100%;
}

#info-section .info-content {
  float: right;
  width: 50%;
  text-align: center;
  padding: 50px;
}

#info-section .info-content p {
  padding-bottom: 20px;
}

/* Feature Section */

#feature-section {
  height: 400px;
}

#feature-section .location {
  float: left;
  width: 33%;
  text-align: center;
  border: 1px #333 solid;
}

#feature-section .meals {
  float: left;
  width: 33%;
  text-align: center;
  border: 1px #333 solid;
}

#feature-section .fitness {
  float: left;
  width: 33%;
  text-align: center;
  border: 1px #333 solid;
}

