/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

/* Utility Classes - Classes that are used throughout the site  */

.container {
  margin: auto;
  max-width: 1440px;
  overflow: auto;
  padding: 0 20px;
}

.text-primary {
  color: #f7c08a;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #fff;
  color: #333;
}

.btn-light:hover {
  background: #f7c08a;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-primary {
  background: #f7c08a;
  color: #333;
}

.clr {
  clear: both;
}

.l-heading {
  font-size: 40px;
}

/* Padding */

.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* NavBar Styling */

#navbar {
  background: #333;
  color: #fff;
  overflow: hidden;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  float: right;
  list-style: none;
}

#navbar li {
  float: left;
}

#navbar ul li a {
  display: block;
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

/* Showcase Styling */

#showcase {
  background: url('/css/img/showcase.jpg') no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  text-align: center;
  padding-top: 170px;
  color: #fff;
}


#showcase .showcase-content h2 {
  font-size: 60px;
}

#showcase .showcase-content p {
  font-size: 20px;
  line-height: 1.7em;
  padding-bottom: 10px;
}

/* Info Section Styling */

#info-section {
  height: 400px;
}

#info-section .info-image {
  float: left;
  width: 50%;
  background: url('/css/img/photo-1.jpg') no-repeat;
  min-height: 100%;
}

#info-section .info-content {
  float: right;
  width: 50%;
  text-align: center;
  padding: 50px;
}

#info-section .info-content p {
  padding-bottom: 30px;
}

/* Feature Section */

#feature-section {
  height: 400px;
}

#feature-section .location {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 50px;
}

.box {
  float: left;
  width: 33.3%;
  text-align: center;
  padding: 50px;
}

.box i {
  margin-bottom: 10px;
}

/* About Info */

#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  float: left;
  width: 50%;
  min-height: 100%;
}

/* Testimonials */

#testimonials {
  height: 600px;
  background: url(./img/test-bg.jpg) no-repeat center center/cover;
  padding-top: 40px;
}

#testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}

#testimonials .testimonial {
  padding: 3%;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

/* Contact Form */

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px #ddd solid;
}

#contact-form textarea {
  height: 200px;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #f7c08a;
}

/* Footer Section */

#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}